[Unit]
Description=Handle GoXLR Utility initialization
After=network.target

[Service]
Type=oneshot
ExecStart=distrobox enter utils -- goxlr-daemon
ExecStop=distrobox stop --yes utils
Restart=always
RestartSec=5

[Install]
WantedBy=default.target